*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

html {
  background: #404040;
  height: 100%;
}

body{
  box-sizing: border-box;
  /*background: rgba(255, 235, 0, 0.68);*/
  /*background: rgba(255, 243, 97, 1);*/
  background: -webkit-linear-gradient(-65deg, #fff58c 1%,#fff58c 39%,#fff58c 39%,#f7da00 100%);
  font-family:'Source Sans Pro', sans-serif;
  border-top: 5px solid black;
  color: #404040;
  min-height: 100%;
}

/*************
General Styles
*************/
.height-fix {
  min-height: 1000px;
}

:selection {
  background: #2E2E2E;
  color: steelblue;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  padding: 3%;
}

.content .subpage {
    padding: 5%;
}

.row.header {
  margin-right: 0;
  margin-left: 0;
}

/**********
NAVIGATION
**********/

.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: steelblue;
  transition: all .3s ease;
}

.top-nav ul {
  margin: 10px 10px;
}

.top-nav li {
  float: left;
  margin-right: 30px;
}

.top-nav a {
  color: white;
}

.top-nav li:hover{
  border-top: 3px solid black !important;
  border-right: none !important;
}

nav {
  position: relative;
  z-index: 10;
}

.nav-pills li{
  text-align: right;
  /*font-size: 1.4em;*/
  font-size: 1em;
  border:6px solid inherit;
  transition: all .3s ease;
  background:  none;
}

nav a {
  color: black;
}

nav a:hover {
  color: black;
}

.nav-pills li:hover {
  background: rgba(255,255,255, 0.5);
  border-right: 5px solid black;
}

li.active-link{
  border-right: 5px solid black;
}

.affix {
  top: 20px;
  right: 60px;
}

.affix-top {
  position: fixed;
  right: 60px;
}

.affix-bottom {
  right: 60px;
}

#menu-toggle {
  position: relative;
  z-index: 99;
}

.top-drop {
  margin-top: 3%;
}

.name {
  margin-bottom: 5px;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h1 span {
  font-size: .7em;
}

.title {
  margin: 10px 0 20px 0;
  font-size: 1.4em;
  font-style: italic;
}

.title_home {
  text-decoration: none;
  color: #404040;
}

.title_home:hover {
  text-decoration: none;
  color: #404040;
}

.name_title {
  display: inline-block;
}

.j, .s {
  -webkit-transition: all .5s ease;
  }

.j:hover:after, .s:hover:after {
  display: inline-block;
  position: relative;
  -webkit-transition: all .8s easeOut;
  left: -30px;
  content: "onathan";
  font-size: .1em;
  font-weight: 700;
  opacity: 1;
}

.name_title:hover .j:after, .name_title:hover .s:after {
    transform: rotateZ(40deg);
    top: 25px;
    left: -5px;
    transition: transform .5s ease;
}

.name_title:hover .s:after {
  top: 22px;
  left: -3px;
}

.name_title:hover .s{
  transform: translateX(-40px);
}

.s {
  position: relative;
  left: ;
}

.s:hover:after {
  content: 'eligsohn';
  
}

.first_name {
  position: relative;
  top: 130px;
  left: -30px;
  transform: rotateZ(30deg);
}

.last_name {
  position: relative;
  top: 130px;
  left: -20px;
  transform: rotateZ(30deg);
}

/*************
Flipping Image
*************/

.flip-container {
  -webkit-perspective: 1000;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(-180deg);
}

.flip-container, .front, .back {
  width: 100%;
}

.flipper {
  transition: 1.5s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  background: #404040;
  width: 100%;
  border-radius: 50%;
  padding: 25% 15% 15%;
  -webkit-transform: rotateY(-180deg);
}

.back p {
  text-align: center;
  color: white;
}

.hire {
  color: white;
  border-bottom: 2px solid white;
}

.hire:hover {
  color: #3BEE8A;
  text-decoration: none;
  border-bottom: 2px solid #3BEE8A;
}

.selfie {
  width: 85%;
  height: 200px;
}

.selfie img {
  border: 1px solid white;
  width: 70%;
  transition: all 1.5s ease;
}

/*.selfie:hover img{
  -webkit-transform: rotateY(180deg);
}*/

/*****************/

.content {
  font-size: 1.3em;
}

.content-link {
  color: black;
}

.content-link:hover {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.synopsis {
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 3px solid black;
  border-bottom: 3px solid black
}

.content .subpage {
  border-radius: 5px;
  background: cornsilk;
}

/**********
PORTFOLIO
**********/

.serious p {
  padding: 5%;
}

#serious-modal {
  cursor: pointer;
}

.portfolio_heading {
  text-align: center;
}

.my_work {
  margin: 0 auto;
}

.my_work ul {
  list-style: none;
  padding-left: 0;
}

.work_item {
  position: relative;
  min-height: 200px;
  background: #404040;
  padding: 2%;
  margin: 3%;
  transition: all .3s ease;
  z-index: 99;
}

.work_desc {
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background: tomato;
  padding: 2%;
  -webkit-transform: rotateZ(30deg);
  z-index: 5;
  display: none;
}

.work_item:nth-child(odd):hover {
  -webkit-transform: rotateZ(30deg);
}

.work_item:nth-child(even):hover {
  -webkit-transform: rotateZ(-30deg);
}

.work_item:hover {
  background: #707070;
  -webkit-transform: rotateZ(-30deg);
}

.work_item:hover > .work_desc {
  display: inline-block;
}

/********
FOOTER
********/

.footer {
  position: relative;
  /*background-color: rgba(255,255,255, 0.7);*/
  /*background: rgba(255, 243, 97, 1);*/
  width: 100%;
  margin-top: auto;
}

#bottom-scroll {
  color: #404040;
  text-align: center;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 50%;
}

.footer-initials {
  position: relative;
  bottom: -80px;
  right: 15px;
  font-size: 25em;
  font-weight: 900;
  padding: 0;
  z-index: 1;
  cursor: default;
  transition: all .3s ease;
}

.footer-initials:hover .j:after, .footer-initials:hover .s:after, .initials-hover .j:after, .initials-hover .s:after {
  display: inline-block;
  position: relative;
/*  -webkit-transition: all .7s ease;
*/  left: -30px;
  content: "onathan";
  font-size: .1em;
  font-weight: 700;
  opacity: 1;
}

.footer-initials .j:after, .footer-initials .s:after {
  -webkit-transition: opacity .5s ease .2s;
  position: relative;
  content: "onathan";
  left: -30px;
  font-size: .1em;
  opacity: 0;
}

.initials-hover .j:after, .initials-hover .s:after {
  opacity: 1;
}

.footer-initials .s:after, .footer-initials:hover .s:after {
  content: "eligsohn";
  left: -10px;
}

.footer-initials .j {
  position: relative;
  right: -240px;
}

.footer-initials .s {
  position: relative;
  right: -100px;
}

.footer-initials:hover .j, .footer-initials:hover .s, .initials-hover .j, .initials-hover .s {
  right: 0;
}

i {
  font-style: normal;
  font-family: 'FontAwesome';
  transition: all .2s ease;
}

i:hover {
  color: steelblue;
}

.social p {
  font-size: 1.15em;
}

.social-link {
  color: black;
  margin-left: 20px;
}

.social-link:first-child {
  margin-left: 0;
}

.social-link:hover {
  text-decoration: none;
}

.copyright p{
  margin-bottom: 0;
  font-size: 1.15em;
}

/***********
ABOUT PAGE
***********/

.about-header, .skills-header, .page-header {
  margin: 0;
  background: #404040;
  padding: 1%;
  text-align: center;
  color: cornsilk;
}

.about-header, .blog-header, .contact-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#chillin-me {
  width: 100%;
}

.skills {
  text-align: center;
}


.skill-list { 
  text-align: left;
  list-style: none;
  margin-bottom: 10%;
  padding-left: 10px;
}

.skill-icon-lg {
  display: inline-block;
  margin: 0 15%;
}

[class*='skill-icon-']:hover {
  color: #404040;
}

.skill-icon-sm {
  display: inline-block;
  margin-right: 10%;
}

.skill-programming:hover, .skill-icon-code {
  color: #3c3cae;
}

.skill-tools:hover, .skill-icon-tools {
  color: #3cae3c;
}

.skill-software:hover, .skill-icon-software {
  color: #ae3c3c;
}

.skill-database:hover, .skill-icon-database {
  color: #E2DA14;
}


.stretching{
  -webkit-animation: stretch 2s 1 ease;
}

.bouncing {
  -webkit-animation: bounce 2s 1 ease;
}

.expanding {
  -webkit-animation: expand 2s 1 ease;
}

.spinning {
  -webkit-animation: spin 2s 1 linear;
}

/********
Keyframes
********/

@-webkit-keyframes stretch {
  0% { -webkit-transform: scaleX(1); }
  25% { -webkit-transform: scaleX(2); }
  50% { -webkit-transform: scaleX(.5);}
  75% { -webkit-transform: scaleX(1.5); }
  100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(0); }
  25% { -webkit-transform: translateY(-30px); }
  50% { -webkit-transform: translateY(20px); }
  100% { -webkit-transform: translateY(0px); }
}

@-webkit-keyframes expand {
  0% { -webkit-transform: scale(1); }
  25% { -webkit-transform: scale(1.5); }
  50% { -webkit-transform: scale(.75); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(720deg); }
}



/***********
    BLOG
***********/

.glyphicon {
  margin-right: 10px;
}

.btn-success.btn-yes, .btn-danger.btn-no {

}

.modal-content {
  padding: 5%;
}

.caption {
  font-size: .7em;
  margin-top: 5px;
  font-style: italic;
}

/***********
  Contact
***********/
.contact-info .fa {
  margin-right: 10px;
}

.contact-info p:first-child {
  margin-bottom: 30px;
}


/***********
Media Queries
************/

@media screen and (min-width: 500px) {
  .nav-pills li {
    font-size: 1.4em;
  }

  .nav-pills a:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .title {
    font-size: 2.5em;
  }
  h1 {
    font-size: 4em;
  }

  .portfolio_heading {
    text-align: left;
  }

  .work_item {
    float: left;
    width: 45%;
    margin: 2.5% 2.5%;
  }

  .skill-list {
    padding-left: 40px;
  }
}

@media screen and (min-width: 770px) {
  .header {
    margin-bottom: 30px;
  }
  .selfie img {
    width: 100%;
    height: auto;
  }

}

@media screen and (min-width: 990px) {
  .footer {
    overflow: hidden;
    padding-bottom: 0;
  }
  .footer-relative {
    position: relative;
  }

  .footer-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 2%;
  }

  .work_item {
    width: 30%;
    margin: 1.25% 1.66% 1.25% 1.66%;
  }

}

@media screen and (max-width: 768px) {
  li.active-link {
    border-right: none;
  }

  .nav-pills {
    background: rgba(64, 64, 64, 0.94);
    border-radius: 3px 0 0 3px;
    border: 3px solid #404040;
    border-right: none;
  }

  #sidebar {
    display: none;
    transition: all .3s ease;
    z-index: 999;

  }

  #sidebar a {
    color: cornsilk;
  }

  #sidebar li:hover a {
    background: cornsilk;
    color: #404040;
  }

  #sidebar ul {
    position: absolute;
    top: 45px;
    right: -105px;
  }

  #sidebar.swipe ul{
    -webkit-transform: translateX(-105px);
  }

  .swipe {
    transition: all .3s ease;
  }

  .nav-pills li:hover {
    border-right: none;
  }
  .nav-pills li:hover a{
    background: inherit;
    border-radius: 0;
  }

  .affix-top, .affix {
    right: 0;
  }
}
